@import "../../styles/mixins";

.featured:hover {
  cursor: pointer;
}

.featuredContainer {
  display: flex;
  justify-content: space-around;
}

.texts {
  margin: 100px 120px 0 0;
}

.decorationTitle {
  color: #0043c1;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.Name {
  margin: 4px 0 10px 0;
  color: #0043c1;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}

.attributes {
  margin: 4px 0;
}
.attibute {
  margin-right: 16px;
  color: rgba(0, 67, 193, 0.75);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.description {
  margin-top: 60px;
  max-width: 420px;
  color: rgba(0, 67, 193, 0.75);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 32px;
  margin-top: 58px;
}

.imageContainer {
  justify-content: left;
  flex: 1;
}

.image {
  filter: drop-shadow(0px 4px 16px rgba(0, 55, 158, 0.25));
  overflow: hidden;
}

.image1 {
  width: 315px;
  height: 548px;
  margin: 40px 10px 0 0;
}

@include laptop() {
  .texts {
    margin-right: 0;
  }
}

@include tablet() {
  .texts {
    margin-right: 0;
  }
  .image1 {
    display: none;
  }
}

@include mobile() {
  .texts {
    margin-top: 60px;
    margin-right: 0;
  }
  .image1 {
    display: none;
  }
}