@import "../../styles/mixins";

.introSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 40px;
}

.introSectionTexts {
  margin-top: 90px;
  width: 540px;
}

.introSectionHeadingImageContainer {
  margin-top: 30px;
}

.introSectionHeadingImage {
  width: 304px;
  height: 392px;
}

.buttonContainer {
  margin-top: 40px;
}

@include tablet() {
  .introSection {
    padding-right: 0px;
  }
  .introSectionTexts {
    max-width: none;
    width: 100%;
    background-color: #f5f9ffbf;
    z-index: 2;
  }
  .introSectionTextsDark {
    background-color: #1f1f23a6;
  }
  .introSectionHeadingImageContainer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  .introSectionHeadingImage {
    width: 304px !important;
    height: 392px !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
  }
}

@include mobile() {
  .introSection {
    padding-right: 0px;
  }
  .introSectionTexts {
    max-width: none;
    width: 100%;
    padding: 0 10px 0 10px;
    background-color: #f5f9ffcf;
    z-index: 2;
  }
  .introSectionTextsDark {
    background-color: #1f1f23ca;
  }
  .introSectionHeadingImageContainer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  .introSectionHeadingImage {
    width: 304px !important;
    height: 392px !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    overflow: hidden;
  }
}
