.icon {
  width: 14px;
  height: 12px;
  color: rgba(245, 249, 255, 0.85);
  margin-right: 4px;
}

.iconLight {
  color: #004ab9;
}

.iconText {
  min-width: 70px;
  height: 22px;
  margin: 0 10px 10px 0;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  text-transform: capitalize;
  vertical-align: middle;
  color: rgba(245, 249, 255, 0.85);
  background-color: #004ab9;
}

.iconTextLight {
  font-weight: 400;
  color: #004ab9;
  background-color: transparent;
  border: solid 1px #004ab9;
}
