.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: #0043c1;
}

.socialMediaContainer {
  display: flex;
  height: 32px;
}

.socialMediaIconWrapper {
  display: block;
  margin: 0 20px;
  height: 32px;
  width: 32px;
}

.socialMediaIcon {
  font-size: 32px;
  color: rgba(245, 249, 255, 0.85);
  text-align: center;
  transition: ease-in-out 200ms all;
}

.socialMediaIcon:hover {
  color: white;
}
