.navbar {
  display: flex;
  height: 60px;
  align-items: center;
}

.navbarDark {
  background: linear-gradient(180deg, #0043c1 0%, #4663cc 100%);
}

.navbarLinks {
  display: flex;
  flex-grow: 1;
  justify-content: right;
}

a.navbarLink {
  margin: 0 31px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(245, 249, 255, 0.85);
  text-align: center;
  transition: ease-in-out 200ms all;
}

.navbarLink:hover {
  font-weight: 700;
  color: white;
}

.navbarCurrent {
  font-weight: 700 !important;
  color: white !important;
}

.navbarLink {
  position: relative;
}

.navbarImageContainer {
  position: relative;
  height: 42px;
  aspect-ratio: 1;
}
