@import "../styles/mixins";

.navbar {
  display: flex;
  height: 60px;
  align-items: center;
}

.navbarDark {
  background: linear-gradient(180deg, #0043c1 0%, #4663cc 100%);
}

.navbarLinks {
  display: flex;
  flex-grow: 1;
  justify-content: right;
}

a.navbarLink {
  margin: 0 31px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(245, 249, 255, 0.85);
  text-align: center;
  transition: ease-in-out 200ms all;
}

.navbarLink:hover {
  font-weight: 700;
  color: white;
}

.navbarCurrent {
  font-weight: 700 !important;
  color: white !important;
}

.navbarLink {
  position: relative;
}

.navbarImageContainer {
  position: relative;
  height: 42px;
  aspect-ratio: 1;
}

.mobileMenu {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: right;
  z-index: 10;
}

.bars {
  height: 22px;
  color: rgba(245, 249, 255, 0.8);
}

.bars:hover {
  cursor: pointer;
}

.bars:active {
  color: rgba(245, 249, 255, 1);
}

.mobileLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  right: 0;
  width: 100px;
  padding: 8px 0;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 2px rgba(135, 183, 255, 0.2));
  background-color: #f5f9ff;
  opacity: 100%;
  transform: translate(0, 0);
  visibility: visible;
  transition: ease-in-out 500ms opacity, ease-in-out 200ms transform;
}

.mobileLinksClosed {
  opacity: 0%;
  visibility: hidden;
  transform: translate(0, -20px);
  transition: visibility 0s 500ms, opacity 200ms ease-in-out, transform 300ms;
}

.mobileLink {
  height: 24px;
  padding: 0 6px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  color: #0043c1;
}

.mobileLink:hover {
  cursor: pointer;
  background-color: #e3eeff;
}

.mobileCurrent {
  font-weight: 700 !important;
  color: #00379e !important;
}

@include mobile() {
  .navbarLinks {
    display: none;
  }
}

@include tabletToDesktop() {
  .mobileMenu {
    display: none;
  }
}
