.section {
  margin-top: 100px;
  margin-bottom: 150px;
}

.sectionHeader {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #00379e;
}

.introSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 40px;
}

.introSectionTexts {
  margin-top: 90px;
  width: 540px;
}

.introSectionHeadingImageContainer {
  margin-top: 30px;
}

.introSectionHeadingImage {
  width: 304px;
  height: 392px;
}

.buttonContainer {
  margin-top: 40px;
}

.experienceInstance {
  margin: 20px 0 60px 0;
}

.experienceName {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #00379e;
}

.expericenLogoContainer {
  display: inline-flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 10px;
  border-radius: 18px;
  background-color: white;
}

.expericenDetail {
  display: flex;
  margin-top: 20px;
}

.experienceAttributes {
  flex: 0 0 225px;
  margin-right: 30px;
  padding-left: 46px;
}

.experienceTitle {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #00379e;
}

.experienceDate {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: rgba(0, 55, 158, 0.5);
}

.experiecnePlace {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: rgba(0, 55, 158, 0.5);
}

.expericenDescription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #00379e;
}

.skillsContent {
  display: flex;
}

.skillsIntro {
  width: 480px;
  height: 155px;
  margin-top: 10px;
  margin-right: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #00379e;
}

.skillsGrid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(42px, auto);
  gap: 0 10px;
  margin-top: -10px;
}

.skillsGridItem {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  /* or 175% */

  color: rgba(0, 67, 193, 0.75);
}

.funfactsContainer {
  display: flex;
}

.funfact {
  width: 240px;
  margin: 0 50px;
}

.funfact:first-child {
  margin-left: 0;
}

.funfactName {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #00379e;
}

.funfactContent {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #00379e;
}

.socialmediaContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.socialmedia {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialmediaIcon {
  color: #00379e;
  height: 50px;
  transition: ease-in-out 100ms color;
}

.socialmediaIcon:hover {
  color: #4663cc;
}

.socialmediaName {
  margin-top: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #00379e;
}
