@import "../../styles/mixins";

.projectSection {
  height: 100%;
  width: 100%;
  margin: 20px 0 50px 0;
  color: white;
}

.topProject {
  margin: 20px 0;
}

.player {
  position: relative;
  width: 100%;
  aspect-ratio: 1.777;
  overflow: hidden;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.6));
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
  background: rgba(0, 0, 0, 0.7);
  transition: ease-in 400ms background;
}

.texts:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

.type {
  font-size: 14px;
  line-height: 14px;
}

.name {
  margin-top: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.icon {
  margin-top: 14px;
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.topType {
  font-size: 18px;
  line-height: 21px;
}

.topName {
  margin-top: 6px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.topIcon {
  margin-top: 25px;
  width: 64px;
  height: 64px;
  font-size: 64px;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1.777;
  overflow: hidden;
  background-color: gray;
  z-index: -1;
}

.imageContainer span {
  height: 100% !important;
  width: 100% !important;
}

.image {
  object-fit: cover;
}

.descriptions {
  margin-top: 25px;
  color: rgba(245, 249, 255, 0.85);
}

.dateRoles {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
}

.date {
  margin-right: 20px;
  margin-bottom: 6px;
}

.roles {
  display: flex;
  flex-wrap: wrap;
}

.role {
  margin-right: 10px;
}

.techSpec {
  margin-left: 10px;
}

.extIcon {
  height: 10px;
  margin-right: 4px;
}

.description {
  margin-top: 16px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.topDescription {
  margin-top: 10px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
