html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f9ff;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1048px;
}

.link:hover {
  cursor: pointer;
}
