html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f9ff;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1048px;
}

.link:hover {
  cursor: pointer;
}

.page-subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #00379e;
}

.page-heading {
  margin-top: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #00379e;
}

.page-description {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #00379e;
}

.page-dark {
  color: #f5f9ff;
}
